.support {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 82px;
  padding-top: 40px;
  padding-bottom: 52px;
  color: #FFFFFF;
  background-color: #93BBEA;
  border-radius: 40px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 275px;
    height: 195px;
    left: -4px;
    background-image: url("../img/support-planes.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: '';
    position: absolute;
    right: -4px;
    bottom: -84px;
    width: 284px;
    height: 316px;
    background-image: url("../img/support-hand.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (max-width: 800px) {
    box-sizing: border-box;
    padding: 15px;
  }
}

.support__container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support__heading {
  margin: 0;
  font-family: "MuseoSansCyrl-900", sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;

  @media (max-width: 420px) {
    font-size: 30px;
  }
}

.support__text {
  max-width: 535px;    
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
  line-height: 150%;
  line-height: 150%;
  font-size: 17px;
}

.support__nav {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @media (max-width: 800px) {
    justify-content: center;
  }
  @media (max-width: 420px) {
    flex-direction: column;
  }
}